.nb-header-div {
    background:indigo;
    height: 100px;
    width: 100%;
    top: 0;
    position: absolute;
    overflow: hidden;
}
.nb-ul {
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-sans-serif);
    overflow: hidden;
    border: 1px solid #4CAF50;
    background-color: #000000;
}
li {
    float: left;
}
li a {
    height: 100%;
    display: block;
    color: #666;
    text-align: center;
    padding: 0px 8px 0px 8px;
    text-decoration: none;
    font-size: var(--title-font-size);
    line-height: 50px;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a:active {
    color: white;
    background-color: #4CAF50;
}
.nb-li-right {
    float: right;
}
.active {
    background-color: #4CAF50;
}
.nb-li-headicon {
    height: 40px;
    width: 40px;
    line-height: 50px;
}