.mt-container {
    position: absolute;
    left: 2%;
    top: 10%;
    width: 96%;
    height: 300px;
    border-radius: 5px;
    box-shadow: 8px 8px 8px gray;
    background-color: white;
}
.mt-table {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    
}
th {
    height: 50px;
    font-size: var(--title-font-size);
    font-family: var(--font-family-monospace);
    font-weight: var(--title-font-weight);
}
td {
    height: 30px;
    font-size: var(--detail-font-size);
    font-family: var(--font-family-monospace);
}
table, th, td
{
  border: 0px solid blue;
  text-align: left;
  vertical-align: center;
}